.carr1 {
  max-height: 60vh;
}

.back-img {
  background-image: url("https://img.freepik.com/vector-gratis/banner-negro-formas-geometricas-amarillas_1017-32327.jpg?size=626&ext=jpg&ga=GA1.2.2104487767.1640736000");
  padding: 1.5em;
  width: 100%;

}

.container {
  display: flex;
  justify-content: center;
  box-shadow: 0.1em 0.1em 0.8em grey;
  border-radius: 20px;
}

.slide {
  margin-bottom: 2em;
}